body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #dab1bf;
    color: white;
    text-align: center;
    padding: 15px;
}
   .imagen {
     width: 600px;
     height: 400px;
   }
nav{
    display: flex;
    justify-content: center;
    background: #f48fb1;
    flex-wrap: wrap;
}
nav a{
    color:white;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
}
nav a:hover{
    background-color: #d81b60;
}
section{
    padding: 20px;
}


form{
    background: #fce4ec;
    padding: 15px;
    border-radius: 8px;
    max-width: 400px;
    margin: auto;
}
label{
    display: block;
    margin-top: 10px;
}
input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"]{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input[type="radio"]{
    margin-right: 5px;
}
button{
    margin-top: 15px;
    background: #e91e63;
    color:white ;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
button:hover{
    background: #d81b60;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: #e91e63;
    color: white;
    margin-top: 20px;
}
@media(max-width:600px){
    nav{
        flex-direction: column;
    }
}